{
  :templates {
    :open-app "open -a \"%s\""
    :open "open \"%s\"" ; Template for opening URLs
  }
  :layers {
    :windows {:key :tab :on_hold :disable} 
    :actions {:key :caps_lock :alone {:key :escape}} 
  }
  :main [
    ; Windows layer rules
    {:des "Windows Layer"
     :rules [:windows
             [:c [:open-app "Google Chrome"]] ; Tab+c -> open Chrome (Moved back here)
             [:n [:open-app "Notion"]]          ; CapsLock+n -> Notion
             [:s [:open-app "Windsurf"]]         ; CapsLock+s -> Windsurf
             [:i [:open-app "Todoist"]]         ; CapsLock+i -> Todoist
             [:d [:open-app "Drafts"]]          ; CapsLock+d -> Drafts
             [:t [:open-app "Telegram"]]        ; CapsLock+t -> Telegram
             [:b [:open-app "Blender"]]         ; CapsLock+b -> Blender
             [:l [:open-app "Linear"]]          ; CapsLock+l -> Linear
             [:y [:open-app "YouTube Music"]] ; CapsLock+m -> YouTube Music (URL)
             [:m [:open-app "Spark Desktop"]] ; Tab+m -> New Spark Window
            ]}

    ; Actions layer rules
    {:des "Actions Layer"
     :rules [:actions
            
            ]}
  ]
}
