{
  :templates {
    :open-app "open -a \"%s\""
    :open "open \"%s\"" ; Template for opening URLs
    :raycast "open \"raycast://%s\"" ; Template for Raycast URLs
  }
  :layers {
    :windows {:key :tab :on_hold :disable}
  }
  :main [
    ; Caps Lock behavior
    {:des "Caps Lock to Ctrl/Escape"
     :rules [[:caps_lock :left_control nil {:alone :escape}]]}

    ; Windows layer rules
    {:des "Windows Layer"
     :rules [:windows
             [:c [:open-app "Google Chrome"]] ; Tab+c -> open Chrome
             [:n [:open-app "Notion"]]          ; CapsLock+n -> Notion
             [:f [:open-app "Figma"]]           ; CapsLock+f -> Figma
             [:p [:open-app "WhatsApp"]]        ; CapsLock+p -> WhatsApp
             [:s [:open-app "Slack"]]           ; CapsLock+s -> Slack
             [:q [:open-app "Windsurf"]]        ; CapsLock+q -> Windsurf
             [:i [:open-app "Todoist"]]         ; CapsLock+i -> Todoist
             [:d [:open-app "Drafts"]]          ; CapsLock+d -> Drafts
             [:t [:open-app "Telegram"]]        ; CapsLock+t -> Telegram
             [:b [:open-app "Blender"]]         ; CapsLock+b -> Blender
             [:l [:open-app "Linear"]]          ; CapsLock+l -> Linear
             [:y [:open-app "YouTube Music"]]   ; CapsLock+y -> YouTube Music
             [:m [:open-app "Spark Desktop"]]   ; CapsLock+m -> Spark Desktop
            ]}

    ; Raycast Actions (Using Control/CapsLock)
    {:des "Raycast Actions"
     :rules [
             [:!Tn [:raycast "extensions/notion/notion/search-page"]] ; CapsLock+n -> Notion Search
            ]}
  ]
}
